

body { 
  background: url("../images/background.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


#game{
	color: white;
}

h1{
	margin: 0 auto;
	text-align: center;
}

#soFar{
	position: fixed;
	bottom: 200px;
	text-align: center;
	width: 100%;

}

@media screen and (max-height: 725px) {
	#soFar{
	bottom: 50px;
	}
	
}